################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LibmpvPlayer/v16
/LibmpvPlayer/x64
/x64/Debug/LibmpvPlayer.pdb
/x64/Debug/LibmpvPlayer.ilk
